/* :root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #000000;
} */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    /* max-width: 900px; */
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    background-color: aliceblue;
    line-height: 1.5em;
}
header{
    padding: 30px;
    text-align: center;
    font-size: 175%;
    background-color: lightblue;
    
}
nav{
    
    /* z-index: 3; */
    /* position: ; */
    /* padding-bottom: 5%; */
    background-color: #323232;
    color: white;
    overflow: hidden;
    /* make sure to have top: 0%, which will help stick nav at the top
    of the screen when the page is scrolling */
    position: sticky;
    top: 0%;
}
.sticky{
    /* position: sticky; */
    top: 0;
    width: 100%;
}
.content{
    padding: 16px;
}
.sticky + .content{
    padding-top: 60px;
    

}

.navigation-items{
    /* float: left;
    display: block;
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    margin-left: auto; */
    /* position: fixed; */
    
}
.navigation-item{
    float: left;
    display: block;
    /* color: ivory; */
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    margin-left: auto;

}
.navigation-item a{
    color: ivory;
    /* color: #BABABA; */
    text-decoration: none;
    font-weight: 600;
}
.navigation-item :hover{
    background-color: aqua;
    color: darkblue;
}
#button{
    background-color: limegreen;
    /* background-color: blue; */
    border-radius: 50%;
    transition: 0.5s;
    padding: 0.35em 1.50em;
}
#button:hover{
    background-color: white;
}
header h2 a{
    color: #323232;
    list-style-type: none;
    text-decoration: none;
    font-size: 150%;
}
#about-me{
    
    width: 100%;
    border-bottom: 0.175em solid #070035;
    padding-bottom: 1.5em;
}
.about-me-container{
    display: flex;
    background-color: hsla(182, 100%, 44%, 0.36);
}
/* .potrait{
    width: auto;
    height: auto;
    flex-shrink: 50;
    border-radius: 50%;
} */
#portrait{
    border-radius: 40%;
    height: 200px;
}
section{
    padding: 2.5% 0;
}
#projects{
    border-bottom: 0.175em solid #070035;
    padding-bottom: 1.5em;
}
summary{
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
.project-image{
    width: 50%;
}
#skills{
    text-align: center;
    border-bottom: 0.175em solid #070035;
    padding-bottom: 1.5em;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.skill-card{
    display: flex;
    border: 2px solid #323232;
    border-radius: 1em;
    margin: 0.5em;
    background-color: hsla(182, 100%, 44%, 0.36);
}
.skill-card figure{
    justify-items: center;
}
figure{
    display: block;
}
figcaption{
    display: block;
}

.skill-card img{
    display: flex;
    align-items: center;
    min-height: 4em;
    max-height: 4em;
    min-width: 4em;
    max-width: 4em;
    height: auto;
}

footer{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:30px 100px;
    
    
}