/* :root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #000000;
} */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    /* max-width: 900px; */
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(240, 248, 255);
    line-height: 1.5em;
}
header{
    padding: 30px;
    text-align: center;
    font-size: 175%;
    background-color: rgb(173, 216, 230);
    
}

/* ------ Navigation ------ */

nav{
    
    /* z-index: 3; */
    /* position: ; */
    /* padding-bottom: 5%; */
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    overflow: hidden;
    /* make sure to have top: 0%, which will help stick nav at the top
    of the screen when the page is scrolling */
    position: sticky;
    top: 0%;
}
.sticky{
    /* position: sticky; */
    top: 0;
    width: 100%;
}
.content{
    padding: 16px;
}
.sticky + .content{
    padding-top: 60px;
    

}

.navigation-items{
    /* float: left;
    display: block;
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    margin-left: auto; */
    /* position: fixed; */
    
}
.navigation-item{
    float: left;
    display: block;
    /* color: ivory; */
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    margin-left: auto;

}
.navigation-item a{
    color: rgb(255, 255, 240);
    /* color: #BABABA; */
    text-decoration: none;
    font-weight: 600;
}
.navigation-item :hover{
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 139);
}
#button{
    background-color: rgb(50, 205, 50);
    /* background-color: blue; */
    border-radius: 50%;
    transition: 0.5s;
    padding: 0.35em 1.50em;
}
#button:hover{
    background-color: rgb(255, 255, 255);
}
header h2 a{
    color: rgb(50, 50, 50);
    list-style-type: none;
    text-decoration: none;
    font-size: 150%;
}

/* ------ Main Body ------ */


        /* ------ About Me Section ------ */
#about-me{
    /* display: flex; */
    width: 100%;
    border-bottom: 0.175em solid rgb(7, 0, 53);
    padding-bottom: 1.5em;
}
.about-me-container{
    display: flex;
    background-color: rgba(0, 217, 224, 0.36);
}
/* .potrait{
    width: auto;
    height: auto;
    flex-shrink: 50;
    border-radius: 50%;
} */
#portrait{
    border-radius: 40%;
    height: 200px;
}
section{
    padding: 2.5% 0;
}

        /* ------Projects Section ------ */

#projects{
    border-bottom: 0.175em solid rgb(7, 0, 53);
    padding-bottom: 1.5em;
}
summary{
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);

}
.project-title:hover{
    cursor: pointer;
    text-decoration:underline;
}
.project:hover p{
    cursor: default;
}
.project:hover img{
    cursor: default;
}

.project-image{
    width: 50%;
}

        /* ------ Skills Section ------ */
#skills{
    text-align: center;
    border-bottom: 0.175em solid rgb(7, 0, 53);
    padding-bottom: 1.5em;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.skill-card{
    display: flex;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 1em;
    margin: 0.5em;
    background-color: rgba(0, 217, 224, 0.36);
}
.skill-card figure{
    justify-items: center;
}
figure{
    display: block;
}
figcaption{
    display: block;
}

.skill-card img{
    display: flex;
    align-items: center;
    min-height: 4em;
    max-height: 4em;
    min-width: 4em;
    max-width: 4em;
    height: auto;
}
/*------ End of Main Body ------- */

/* ------ Footer Section ----- */
footer{
    background-color: rgb(173, 216, 230);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:30px 100px;
    
    
}

/* ------- Media Query ------ */

@media only screen and (max-width: 320px){
    .about-me-container{
        display: block;

    }
    .project-image{
        max-width: 100%;
    }
}